.discovery {
    width: calc( 100% - 321px );
    margin-left: 276px;
    margin-top: 70px;
    height: 5000px;
    display: flex;
    grid-gap: 5%;
    margin: 105px 45px 30px 321px;
}

.discovery .top {
    width: 71% ;
}

.discovery .top .image {
    width: 100% ;
    background-image: url("../../../public/images/msmarvel.jpg");
    border-radius: 30px ;
    height: 400px ;
    background-size: cover ;
    position: relative;
}

.discovery .top .image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%; 
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0)); 
}

.discovery .top .image .content {
    position: relative;
    width: fit-content;
    position: absolute;
    top: 30%;
    left: 5%;
}

.discovery .top .image .content h2 {
    z-index: 1;
    position: relative;
}

.discovery .top .image .content p:nth-child(1) {
    width: fit-content;
    background-color: #262429;
    padding: 8px 15px;
    border-radius: 10px;
    color: #c9c9c9;
    z-index: 4;
    position: relative;
}

.discovery .top .image .content p:nth-child(3) {
    font-size: 17px;
    color: #c9c9c9;
    z-index: 1;
    position: relative;
}

.discovery .top .image .content .button {
    display: flex ;
    grid-gap: 30px;
    margin-top: 30px ;
    align-items: center;
    position: relative ;
    z-index: 3 ;
}

.discovery .top .image .content .button button {
    background-color: #a138d2 !important;
    padding-top: -5px;
    box-shadow: 0 5px 20px 0 rgba(86,90,207,.3)!important;
    padding: 16px 30px !important;
    text-decoration: none !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    border-radius: 20px !important;
    border: none;
    transition: all .5s !important;
    line-height: 1.2 !important;
    color: #fff !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    font-family: 'Montserrat', sans-serif !important;
    transition: 0.5s !important;
    border: none !important;
    z-index: 1;
    position: relative;
}

.discovery .top .image .content .button button:hover {
    background-color: #681a8b !important;
}

.discovery .top .image .content .button button i {
    margin-right: 10px ;
}

.discovery .top .image .content .button a {
    color: #d6d6d6 ;
    text-decoration: none !important ;
    font-size: 18px ;
    font-weight: bold !important ;
    letter-spacing: -1px;
    font-family: 'Montserrat', sans-serif !important;
    z-index: 1;
    position: relative;
}

.discovery .top .image .content .button a i {
    margin-right: 10px ;
    font-size: 20px ;
    color: #d6d6d6 ;
}

.discovery .top .channels {
    display : flex ;
    width: 100% ;
    margin-top: 30px ;
    justify-content: space-between ;
}

.discovery .top .channels img {
    width: 22%;
    height: 100px;
    border: 1px solid #262626;
    padding: 0px 40px;
    border-radius: 20px;
}

.fav {
    color: #c13a4c !important;
}

.a-fav {
    border: 1px solid #c13a4c ;
}